body {
  overflow: visible;
  background-color: black;
}

.navbar-flashback {
  z-index: 20;
}

.menu-item {
  margin: 5px !important;
}

.MuiAppBar-colorPrimary {
  color: #fff;
  background-color: #000 !important;
}

.MuiLinearProgress-colorSecondary {
  background-color: rgb(158, 171, 251) !important;
}

.MuiLinearProgress-root {
  margin-top: 20px;
  height: 16px !important;
}

.MuiLinearProgress-barColorSecondary{
  background-color: #4300f5 !important;
}

.menu-item {
  box-shadow: #000000 2px 2px;
  cursor: pointer;
  margin: 10px;
  border: solid #031c23 1px;
  padding: 5px;
  border-radius: 30px;
  width: 50px;
  text-align: center;
}

.MuiAppBar-root {
  align-items: flex-end;
}

section{
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 200px 100px;
}

@media (max-width: 1000px){

}

@media (max-width: 600px){

	section{
		padding: 80px 30px;
	}

}

