body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MuiLinearProgress-colorSecondary {
  background-color: rgb(158, 171, 251) !important;
}

.MuiLinearProgress-root {
  margin-top: 20px;
  height: 16px !important;
}

.MuiLinearProgress-barColorSecondary{
  background-color: #4300f5 !important;
}